.sideNavWrapper {
  z-index: 998;
  position: fixed;
  inset: 0;
  cursor: auto;
  background: rgb(255 255 255 / 35.6%);
  transition: opacity 0.2s;
  width: 0;

  @media screen and (width >= 992px) {
    display: none;
  }
}

.open {
  width: 100%;
}

.sideNav {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--light);
  overflow-x: hidden;
  width: 0;
  opacity: 0;
  transition:
    opacity 0.2s,
    width 0.2s;
}

.sideNavOpen {
  display: grid;
  grid-template-rows: min-content min-content;
  width: 100%;
  opacity: 1;

  @media screen and (width >= 250px) {
    width: 250px;
  }
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  padding: 19px;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  margin-bottom: 1rem;
  flex-grow: 1;

  @media screen and (width >= 190px) {
    white-space: nowrap;
  }
}

.footer {
  text-align: center;
  align-self: flex-end;
}
